.page-header {
    border-bottom: 1px solid #e5e5e5 ;
    background-color: #fafafa ;
    margin: 0 0 40px ;
    padding: 30px ;

    h1 {
	font-weight: 700 ;
	font-size: 40px ;
	letter-spacing: 1px ;
	margin-bottom: 16px ;
    }


}